build_libwebrtc_android/src
build_libwebrtc_android/out
build_libwebrtc_android/artifacts
build_libwebrtc_android/webrtc-android.zip

build_plugin_android/src
build_plugin_android/android-ndk-*

.cipd

